
*.json
aspnet-core/src/GSoft.AbpZeroTemplate.Web.Host/App_Data/Logs/Logs.txt
aspnet-core/src/GSoft.AbpZeroTemplate.Web.Host/App_Data/Logs/Logs.txt
aspnet-core/src/GSoft.AbpZeroTemplate.Web.Host/App_Data/Logs/Logs.txt
aspnet-core/src/GSoft.AbpZeroTemplate.Web.Host/App_Data/Logs/Logs.txt
