<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Purchasing")}}</span>
                </h3>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-primary">
                    "AddNewInvoice"
                </button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <p>PURCHASING CONTENT COMES HERE!</p>
            </div>
        </div>
    </div>
</div>
