<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="project.id">{{l("ProjectInfo")}}: {{project.name}}</span>  
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Mã dự án</label>
                    <p>{{project.code}}</p>
                </div>
                <div class="form-group">
                    <label>Tên dự án</label>
                    <p>{{project.name}}</p>
                </div>
                <div class="form-group">
                    <label>Ngày tạo dự án</label>
                    <p>{{dateFormat(project.date)}}</p>
                </div>
                <div class="form-group">
                    <p>
                        {{l("IsActive")}}
                        <span *ngIf="project.isActive">
                            <input type="checkbox" checked onclick="return false;">
                        </span>
                        <span *ngIf="!project.isActive">
                            <input type="checkbox" onclick="return false;">
                        </span>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span></button>
            </div>
        </div>
    </div>
</div>
