<div class="card" style="background-color:rgb(30, 113, 180)">
    <div class="card-title px-2 mt-2 row" style="color: white">
        <h5 class="col-sm-8">CHI TIẾT HÀNG HÓA</h5>
    </div>
</div>
<div class="text-right">
    <button type="button" class="mt-2 btn btn-primary">Thêm hàng hóa</button>
</div>
<br>
<div class="card">
    <h5 class="card-title px-2"> </h5>
    <div class="card-body">
        <!--<Primeng-TurboTable-Start>-->
        <div class="primeng-datatable-container">
            <p-table [value]="purchaseOrderRecieved.purchaseProductDetails">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Tên hàng hóa
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Tên thực tế
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="code">
                            Loaị hàng hóa
                            <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="bidId">
                            Số lượng
                            <p-sortIcon field="bidId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Đơn giá
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Địa chỉ nhận
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Người liên hệ
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Số điện thoại
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Diễn giải
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>


                        <th>{{l('Edit')}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                        <td>
                            <span class="ui-column-title">Tên hàng hóa</span>
                            <span title="{{record.product.name}}">{{truncateString(record.product.name)}}</span>
                        </td>
                        <td>
                            <span class="ui-column-title">Tên thực tế</span>
                            <span title="{{record.product.productName}}">{{truncateString(record.product.productName)}}</span>

                        </td>

                        <td>
                            <span class="ui-column-title">Loaị hàng hóa</span>
                            <span title="{{record.productCategory}}">{{truncateString(record.productCategory)}}</span>
                        </td>
                        <td>
                            <span class="ui-column-title">Số lượng</span>
                            <span title="{{record.amount}}">{{truncateString(record.amount)}}</span>

                        </td>
                        <td>
                            <span class="ui-column-title"> Đơn giá</span>
                            <span title="{{record.price}}">{{truncateString(record.price)}}</span>

                        </td>
                        <td>
                            <span class="ui-column-title"> Địa chỉ nhận</span>
                            <span title="{{record.contactAddress}}">{{truncateString(record.contactAddress)}}</span>

                        </td>
                        <td>
                            <span class="ui-column-title"> Người liên hệ</span>
                            <span title="{{record.contactName}}">{{truncateString(record.contactName)}}</span>

                        </td>
                        <td>
                            <span class="ui-column-title">Số điện thoại</span>
                            <span title="{{record.contactPhoneNumber}}">{{truncateString(record.contactPhoneNumber)}}</span>

                        </td>
                        <td>
                            <span class="ui-column-title"> Diễn giải</span>
                            <span title="{{record.description}}">{{truncateString(record.description)}}</span>

                        </td>


                        <td>

                            <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                (click)="deleteContract(record.id)" title="{{l('Delete')}}">
                                <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
        <!--<Primeng-TurboTable-End>-->


    </div>
</div>