<div class="card" style="background-color:rgb(30, 113, 180)">
    <div class="card-title px-2 mt-2 row" style="color: white">
        <h5 class="col-sm-8">CHI TIẾT HÀNG HÓA</h5>
    </div>
</div>
<div class="text-right">
    <button type="button" class="mt-2 btn btn-primary"
    (click)="show()"
    >Thêm hàng hóa</button>
</div>
<br>
<div class="card">
    <h5 class="card-title px-2"> </h5>
    <div class="card-body">
        <!--<Primeng-TurboTable-Start>-->
        <div class="primeng-datatable-container">
            <p-table [value]="purchaseOrderRecieved.purchaseProductDetails">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Tên hàng hóa
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="productName">
                            Tên thực tế
                            <p-sortIcon field="productName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="catelog">
                            Loaị hàng hóa
                            <p-sortIcon field="catelog"></p-sortIcon>
                        </th>
                        <th pSortableColumn="currentPrice">
                            Gía hiện tại
                            <p-sortIcon field="currentPrice"></p-sortIcon>
                        </th>
                        <th pSortableColumn="amount">
                            Số lượng
                            <p-sortIcon field="amount"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">
                            Tổng giá trị
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="contactAddress">
                            Địa chỉ nhận
                            <p-sortIcon field="contactAddress"></p-sortIcon>
                        </th>
                        <th pSortableColumn="contactName">
                            Người liên hệ
                            <p-sortIcon field="contactName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="phoneNumber">
                            Số điện thoại
                            <p-sortIcon field="phoneNumber"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">
                            Diễn giải
                            <p-sortIcon field="description"></p-sortIcon>
                        </th>


                        <th>{{l('Edit')}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                        <td>
                            <span title="{{record.product.name }}">{{truncateString(record.product.name)}}</span>
                        </td>
                        <td>
                            <span title="{{record.product.productName}}">{{truncateString(record.product.productName)}}</span>
                            
                        </td>

                        <td>
                            <!-- <span title="{{record.productCategory}}">{{truncateString(record.productCategory)}}</span> -->
                            <input type="text" class="input-inside-table"
                            
                            [(ngModel)]="record.productCategory"
                            >
                        </td>
                        <td>
                            <span title="{{record.product.currentPrice | currency:'VND'}}">{{truncateString(record.product.currentPrice) | currency:'VND'}}</span>                         
                            
                        </td>
                        <td>
                            <!-- <span title="{{record.amount}}">{{truncateString(record.amount)}}</span> -->
                            <input type="number" class="input-inside-table" *ngIf="record.amount"
                            [ngModel]="record.amount"
                            (change)="updateAmount(record,$event)"
                            >
                        </td>
                        <td>
                            <span title="{{record.price }}">{{truncateString(record.price) | currency:'VND'}}</span>
                            <!-- <input type="text" class="input-inside-table" [attr.disabled]="true"
                            *ngIf="record.price"
                            [ngModel]="record.price | currency:'VND'"> -->
                        </td>
                        <td>
                            <!-- <span title="{{record.contactAddress}}">{{truncateString(record.contactAddress)}}</span> -->
                            <input type="text" class="input-inside-table"
                           
                            [(ngModel)]="record.contactAddress"
                            >
                        </td>
                        <td>
                            <!-- <span title="{{record.contactName}}">{{truncateString(record.contactName)}}</span> -->
                            <input type="text" class="input-inside-table"
                           
                            [(ngModel)]="record.contactName">
                        </td>
                        <td>
                            <!-- <span title="{{record.contactPhoneNumber}}">{{truncateString(record.contactPhoneNumber)}}</span> -->
                            <input type="text" class="input-inside-table"
                           
                            [(ngModel)]="record.contactPhoneNumber">
                        </td>
                        <td>
                            <!-- <span title="{{record.description}}">{{truncateString(record.description)}}</span> -->
                            <input type="text" class="input-inside-table"
                           
                            [(ngModel)]="record.description">
                        </td>

                        <td>

                            <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                (click)="deleteDetail(record)" title="{{l('Delete')}}">
                                <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
      
            <div class="primeng-paging-container">                       
                <span class="total-records-count">
                   Tổng tiền hàng: {{ purchaseOrderRecieved.totalPrice | currency:'VND'}}
                </span>
            </div>
        <!--<Primeng-TurboTable-End>-->
    </div>
</div>

<!--beginmodal-->
<purchase-product-selection-modal #purchaseProductSelectionModal
    [purchaseOrderRecieved]="purchaseOrderRecieved"
    (openContractSelectModalEmit)="openContractSelectModal($event)"
></purchase-product-selection-modal>
<!--end modal-->