<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>ASSET DASHBOARD</span>
                </h3>
                <span class="m-section__sub">Asset Management Statistics</span>
            </div>
        </div>
    </div>
    <div class="m-content"> <!--info card-->
        <div class="row pl-4 pr-4 row-eq-height">
            <div class="col-sm-12 col-md-6 col-lg-3 p-0">
                <div class="m-widget24 border-primary rounded m-2 pl-4 pr-4 pt-2 pb-2 shadow-sm report_card bg-white">
                    <div class="m-widget24__item">
                        <div class="0" style="display: flex; flex-direction: row; align-items: center; justify-content: center">
                            <div class="0" style="flex: 1; display: flex; flex-direction: column">
                                <div class="0" style="flex: 1; font-weight: bold; font-size: 1.3rem">
                                    Assets Count
                                </div>
                            </div>
                            <div class="m--font-primary" style="font-weight: bold; font-size: 2rem">
                                <span counto [step]="30" [duration]="1" [countFrom]="0" [countTo]="header_stats.Assets_Count" (countoChange)="header_stats.Assets_Count_Counter = $event">
                                    {{header_stats.Assets_Count_Counter.toFixed(0)}}
                                </span>
                            </div>
                        </div>
                        <div class="m--space-5"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 p-0">
                <div class="m-widget24 border-success rounded m-2 pl-4 pr-4 pt-2 pb-2 shadow-sm report_card bg-white">
                    <div class="m-widget24__item">
                        <div class="0" style="display: flex; flex-direction: row; align-items: center; justify-content: center">
                                <div class="0" style="flex: 1; display: flex; flex-direction: column">
                                <div class="0" style="flex: 1; font-weight: bold; font-size: 1.3rem">
                                    Active
                                </div>
                            </div>
                            <div class="m--font-success" style="font-weight: bold; font-size: 2rem">
                                <span counto [step]="30" [duration]="1" [countFrom]="0" [countTo]="header_stats.Assets_Active" (countoChange)="header_stats.Assets_Active_Counter = $event">
                                    {{header_stats.Assets_Active_Counter.toFixed(0)}}
                                </span>
                            </div>
                        </div>
                        <div class="m--space-5"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 p-0">
                <div class="m-widget24 border-info rounded m-2 pl-4 pr-4 pt-2 pb-2 shadow-sm report_card bg-white">
                    <div class="m-widget24__item">
                        <div class="0" style="display: flex; flex-direction: row; align-items: center; justify-content: center">
                            <div class="0" style="flex: 1; display: flex; flex-direction: column">
                                <div class="0" style="flex: 1; font-weight: bold; font-size: 1.3rem">
                                    Storage
                                </div>
                            </div>
                            <div class="m--font-info" style="font-weight: bold; font-size: 2rem">
                                <span counto [step]="30" [duration]="1" [countFrom]="0" [countTo]="header_stats.Assets_Storage" (countoChange)="header_stats.Assets_Storage_Counter = $event">
                                    {{header_stats.Assets_Storage_Counter.toFixed(0)}}
                                </span>
                            </div>
                        </div>
                        <div class="m--space-5"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 p-0">
                <div class="m-widget24 border-warning rounded m-2 pl-4 pr-4 pt-2 pb-2 shadow-sm report_card bg-white">
                    <div class="m-widget24__item">
                        <div class="0" style="display: flex; flex-direction: row; align-items: center; justify-content: center">
                            <div class="0" style="flex: 1; display: flex; flex-direction: column">
                                <div class="0" style="flex: 1; font-weight: bold; font-size: 1.3rem">
                                    Disposed
                                </div>
                            </div>
                            <div class="m--font-warning" style="font-weight: bold; font-size: 2rem">
                                <span counto [step]="30" [duration]="1" [countFrom]="0" [countTo]="header_stats.Assets_Disposed" (countoChange)="header_stats.Assets_Disposed_Counter = $event">
                                    {{header_stats.Assets_Disposed_Counter.toFixed(0)}}
                                </span>
                            </div>
                        </div>
                        <div class="m--space-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <p>HERE! {{userName}}</p>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="donut-chart-block block"> 
            <h2 class="titular">OS AUDIENCE STATS</h2>
            <div class="donut-chart">
                <div id="porcion1" class="recorte">
                    <div class="quesito ios" data-rel="21"></div>
                </div>
                <div id="porcion2" class="recorte">
                    <div class="quesito mac" data-rel="39"></div>
                </div>
                <div id="porcion3" class="recorte">
                    <div class="quesito win" data-rel="31"></div>
                </div>
                <div id="porcionFin" class="recorte">
                    <div class="quesito linux" data-rel="9"></div>
                </div>
                <p class="center-date">JUNE<br><span class="scnd-font-color">2013</span></p>        
            </div>
            <ul class="os-percentages horizontal-list">
                <li>
                    <p class="ios os scnd-font-color">iOS</p>
                    <p class="os-percentage">21<sup>%</sup></p>
                </li>
                <li>
                    <p class="mac os scnd-font-color">Mac</p>
                    <p class="os-percentage">39<sup>%</sup></p>
                </li>
                <li>
                    <p class="linux os scnd-font-color">Linux</p>
                    <p class="os-percentage">9<sup>%</sup></p>
                </li>
            </ul>
        </div>

            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Profit Share
                                    <small>
                                        Profit Share between customers
                                    </small>
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="javascript:;" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                        Actions
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 40.5px;"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Action 1
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-text">
                                                                    Action 2
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
                                                                    Action 3
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="javascript:;" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                <span class="m-nav__link-text">
                                                                    Action 4
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin:: Widgets/Profit Share-->
                        <div class="m-widget14">
                            <div class="row  align-items-center">
                                <div class="col">
                                    <div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
                                        <div class="m-widget14__stat">
                                            45
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="m-widget14__legends" *ngIf="assets_state_chart.data">
                                        <div class="m-widget14__legend">
                                            <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                            <span class="m-widget14__legend-text">
                                                0% Product Sales
                                            </span>
                                        </div>
                                        <div class="m-widget14__legend">
                                            <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                            <span class="m-widget14__legend-text">
                                                0% Online Courses
                                            </span>
                                        </div>
                                        <div class="m-widget14__legend">
                                            <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                            <span class="m-widget14__legend-text">
                                                0% Custom Development

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:: Widgets/Profit Share-->
                    </div>
                </div>
            </div>
        </div>

</div>