.report_card
{
	border-style: solid; 
	border-width: 1px 1px 1px 4px;
	border-radius: 5px;
}

.progess
{
	margin: 0px;
}



.donut-chart-block 
{
	overflow: hidden;
	margin: 25px 25px 0 0;
	background: #394264;
	border-radius: 5px;
	width: 300px;
	margin-left: 50px; 
}

.donut-chart-block .titular 
{
	padding: 10px 0;
}

.os-percentages li 
{
	width: 75px;
	border-left: 1px solid #394264;
	text-align: center;					
	background: #50597b;
}

.os 
{
	margin: 0;
	padding: 10px 0 5px;
	font-size: 15px;		
}
						
.os.ios 
{
	border-top: 4px solid #e64c65;
}
.os.mac 
{
	border-top: 4px solid #11a8ab;
}

.os.linux 
{
	border-top: 4px solid #fcb150;
}

.os.win 
{
	border-top: 4px solid #4fc4f6;
}

.os-percentage 
{
	margin: 0;
	padding: 0 0 15px 10px;
	font-size: 25px;
}

.donut-chart {
  position: relative;
	width: 200px;
  height: 200px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
	font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.center-date span.scnd-font-color {
 line-height: 0; 
}
.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
#porcion1 {
    transform: rotate(0deg);
  }

#porcion1 .quesito {
    background-color: #E64C65;
    transform: rotate(76deg);
  }
#porcion2 {
    transform: rotate(76deg);
  }
#porcion2 .quesito {
    background-color: #11A8AB;
    transform: rotate(140deg);
  }
#porcion3 {
    transform: rotate(215deg);
  }
#porcion3 .quesito {
    background-color: #4FC4F6;
    transform: rotate(113deg);
  }
#porcionFin {
    transform:rotate(-32deg);
  }
#porcionFin .quesito {
    background-color: #FCB150;
    transform: rotate(32deg);
  }

  .horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
	.horizontal-list li {
		flex: 1;
	}

	.titular {
display: block;
line-height: 60px;
margin: 0;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}