.report_card
{
	border-style: solid; 
	border-width: 1px 1px 1px 4px;
	border-radius: 5px;
}

.progess
{
	margin: 0px;
}



.donut-chart-block 
{
	width: 300px;
	margin: 20px;
	margin-left: 50px;
	border-radius: 5px;
	overflow: hidden;
	background: #394264;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
}

.donut-chart-block .titular 
{
	padding: 10px 0;
}

.os-percentages li 
{
	width: 75px;
	border-left: 1px solid #394264;
	text-align: center;					
	background: #50597b;
}

.os 
{
	margin: 0;
	padding: 10px 0 5px;
	font-size: 15px;	
	border-top: 4px solid #e64c65;	
}

.os-percentage 
{
	margin: 0;
	padding: 0 0 15px 0px;
	font-size: 25px;
}


.horizontal-list 
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.horizontal-list li
{
	flex: 1;
}

.titular
{
	display: block;
	line-height: 60px;
	margin: 0;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
