<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #Form="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Them Don Vi</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom: 15px">
                        <div style="font-size: 24px; margin-bottom: 5px">Them Don Vi</div>
                    </div>
                    <div class="form-group">
                        <label>Ten Don Vi Them</label>
                        <input #ten_don_vi_input name="ten_don_vi_input" class="form-control" type="text" [(ngModel)]="input.tenDonVi" required>
                    </div>
                    <div class="form-group">
                        <label>Dia Chi Don Vi</label>
                        <input class="form-control" type="text" [(ngModel)]="input.diaChi" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <div class="form-group">
                        <label>Don Vi Chinh</label>
                        <input class="form-control" type="hidden" [(ngModel)]="input.donViChinhId" required>
                        <select class="form-control" [(ngModel)]="input.donViChinhId" [ngModelOptions]="{standalone: true}" required>
                            <option *ngFor="let don_vi of don_vi_co_san" [value]="don_vi.id">ID{{don_vi.id}}  -  {{don_vi.tenDonVi}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel"}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!Form.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save"}}</span></button>
                </div>
            </form>
        </div>
    </div>