<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #personForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Them Tai San</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom: 15px">
                        <div style="font-size: 20px; margin-bottom: 5px">{{this.donvi.tenDonVi}}</div>
                        <div style="font-weight: bold;">Dia chi:&nbsp;&nbsp;{{this.donvi.diaChi}}</div>
                        <div *ngIf="donvi.donViChinh" style="font-weight: bold;">Don vi chinh:&nbsp;&nbsp;{{this.donvi.donViChinh}}</div>
                    </div>
                    <div class="form-group">
                        <label>Ten Tai San Them</label>
                        <input #ten_tai_san_them name="ten_tai_san_them" class="form-control" type="text" [(ngModel)]="input.tenTaiSanThem" required>
                        <!-- <input #taiSanThem class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" min="0" type="number" name="soTaiSan" [(ngModel)]="input.taiSanThem" required maxlength="32"> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel"}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!personForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save"}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>