<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #merchandiseForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{"CreateNewMerchandise"}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{"Name"}}</label>
                        <input #nameInput class="form-control" type="text" name="name" [(ngModel)]="merchandise.name" required maxlength="64">
                    </div>
                    <div class="form-group">
                        <label>{{"TypeID"}}</label>
                        <input class="form-control" type="text" name="typeID" [(ngModel)]="merchandise.typeID" required>
                    </div>
                    <div class="form-group">
                        <label>{{"Info"}}</label>
                        <input class="form-control" type="text" name="info" [(ngModel)]="merchandise.info" required maxlength="255" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
                    </div>
                    <div class="form-group">
                        <label>{{"Price"}}</label>
                        <input class="form-control" type="text" name="price" [(ngModel)]="merchandise.price" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel"}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!personForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> <span>{{"Save"}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
