<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="contract.id">Cập nhật hợp đồng: {{contract.name}}</span>
                        <span *ngIf="!contract.id">Tạo mới hợp đồng</span>
                    </h4>                 
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                        <h4 class="modal-title">
                            <i class="fa fa-search"></i>
                            <span>   Thông tin chi tiết</span>
                        </h4>
                    </nav>
                    <div class="form-group row margin-top-15">
                        <div class="col-xs-5 margin-right-20 margin-left-20">
                            <label for="ex1">Số hợp đồng *</label>
                            <input #contractIDInput="ngModel" class="form-control" id="ex1" type="text" name="ContractID" [(ngModel)]="contract.contractID" required maxlength="64">
                            <validation-messages [formCtrl]="contractIDInput"></validation-messages>
                        </div>
                        <div class="col-xs-5 margin-right-20">
                            <label for="ex2">Tên hợp đồng *</label>
                            <input #nameInput="ngModel" class="form-control" id="ex2" type="text" name="Name" [(ngModel)]="contract.name" required maxlength="64">
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>
                        <div class="col-xs-4">
                            <label for="ex3">Ngày giao hàng *</label>
                            <input #dateInput="ngModel" class="form-control" id="ex3" type="date" name="DeliveryTime" [(ngModel)]="contract.deliveryTime" required>
                            <validation-messages [formCtrl]="dateInput"></validation-messages>
                        </div>              
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4 margin-right-20 margin-left-20">
                            <label>Số hồ sơ</label>
                            <div class="input-group col-xs-4">
                                <input class="form-control" type="text" name="FileID" [(ngModel)]="contract.briefcaseID" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                </span>
                            </div>                         
                        </div>
                        <div class="col-xs-5">
                            <label>Mã đơn vị trúng thầu</label>
                            <input class="form-control" type="text" name="UnitID" readonly>
                        </div>     
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 margin-right-20">
                            <label>Tên đơn vị trúng thầu</label>
                            <input class="form-control" type="text" name="UnitName" readonly>
                        </div>
                        <div class="col-xs-4">
                            <label>Số điện thoại</label>
                            <input class="form-control" type="text" name="Phone" readonly>
                        </div>     
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 margin-right-20">
                            <label>Địa chỉ</label>
                            <input class="form-control" type="text" name="Address" readonly>
                        </div>
                        <div class="col-xs-4">
                            <label>Người liên hệ</label>
                            <input class="form-control" type="text" name="Contact" readonly>
                        </div>             
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea class="form-control" rows="3" type="text" name="Note" [(ngModel)]="contract.note" maxlength="255">

                        </textarea>
                    </div>
                    <form class="margin-top-15">
                        <fieldset style="border: solid; border-width: thin">
                            <legend visible="true" style="width:auto; margin-left: 10px;">Bảo lãnh hợp đồng</legend>
                            <div class="form-group row">
                                <div class="col-xs-4 margin-right-20 margin-left-40">
                                    <label>Hình thức</label>
                                    <select class="form-control" [(ngModel)]="contract.contractWarrantyTypeID" name="ContractWarrantyTypeID">
                                        <option value="1">Hình thức 1</option>
                                        <option value="2">Hình thức 2</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 margin-right-20">
                                    <label>Số chứng thư bảo lãnh</label>
                                    <input type="text" class="form-control" [(ngModel)]="contract.contractWarrantyID" name="ContractWarrantyID">
                                </div>
                                <div class="col-xs-4">
                                    <label>Ngày hết hạn chứng thư</label>
                                    <input type="datetime" class="form-control" [(ngModel)]="contract.contractWarrantyExpireDate" name="ContractWarrantyExpireDate">
                                </div>     
                            </div>    
                            <div class="form-group row">
                                <div class="col-xs-2 margin-right-20 margin-left-40">
                                    <label>Tỷ lệ </label>
                                    <input type="text" class="form-control" [(ngModel)]="contract.contractWarrantyPercent" name="ContractWarrantyPercent">
                                </div>
                                <div class="col-xs-2">
                                    <label>Số tiền </label>
                                    <input type="text" class="form-control" [(ngModel)]="contract.contractWarrantyAmount" value="0" name="ContractWarrantyAmount">
                                </div>         
                            </div>  
                            <div class="form-group col-sm-8 margin-left-15">
                                Ngân hàng bão lãnh <input type="text" class="form-control" name="ContractWarrantyBank">   
                            </div>  
                            <div class="form-group margin-left-20">
                                <label>File đính kèm</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" name="ContactWarrantyFile">
                                </div>         
                            </div>
                        </fieldset>
                    </form>
                    <form class="margin-top-15">
                        <fieldset style="border: solid; border-width: thin">
                            <legend visible="true" style="width:auto; margin-left: 10px;">Bảo lãnh bảo hành</legend>
                            <div class="form-group row">
                                <div class="col-xs-4 margin-right-20 margin-left-40">
                                    <label>Hình thức </label>
                                    <select class="form-control" [(ngModel)]="contract.warrantyGuaranteeTypeID" name="WarrantyGuaranteeTypeID">
                                        <option value="1">Hình thức 1</option>
                                        <option value="2">Hình thức 2</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 margin-right-20">
                                    <label>Số chứng thư bảo lãnh </label>
                                    <input type="text" class="form-control" [(ngModel)]="contract.warrantyGuaranteeID" name="WarrantyGuaranteeID">
                                </div>
                                <div class="col-xs-4">
                                    <label>Ngày hết hạn chứng thư </label>
                                    <input type="datetime" class="form-control" [(ngModel)]="contract.warrantyGuaranteeExpireDate" name="WarrantyGuaranteeExpireDate">
                                </div>      
                            </div>    
                            <div class="form-group row">
                                <div class="col-xs-2 margin-right-20 margin-left-40">
                                    <label>Tỷ lệ </label>
                                    <input type="text" class="form-control" [(ngModel)]="contract.warrantyGuaranteePercent" name="WarrantyGuaranteePercent">
                                </div>
                                <div class="col-xs-2">
                                    <label>Số tiền </label>
                                    <input type="text" class="form-control" [(ngModel)]="contract.warrantyGuaranteeAmount" value="0" name="WarrantyGuaranteeAmount">
                                </div> 
                            </div>  
                            <div class="form-group col-sm-8 margin-left-15">
                                Ngân hàng bão lãnh <input type="text" class="form-control" name="WarrantyGuaranteeBank">   
                            </div>  
                            <div class="form-group margin-left-20">
                                File đính kèm <input type="file" class="form-control" name="ContactWarrantyFile">
                            </div>
                        </fieldset>
                    </form>   
                    <nav class="navbar navbar-expand-sm navbar-light margin-top-15" style="background-color: #e3f2fd;">
                        <h4 class="modal-title">
                            <i class="fa fa-table"></i>
                            <span>   Danh sách hàng hoá</span>
                        </h4>
                    </nav>  
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="d-flex align-items-center">
                                <div class="primeng-paging-container">
                                    <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                        (onPageChange)="getContracts($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                </div>
                                <div class="col-xs-6 form-group align-items-right">
                                    <button [disabled]="saving" type="button" (click)="addContractDetail()" *ngIf="('Pages.Administration.ContracDetail.Create')"
                                        class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button 
                                        class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>  
                            <p-table #dataTable (onLazyLoad)="getContractDetails($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                                [responsive]="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="stt">
                                            STT
                                            <p-sortIcon field="stt"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="id">
                                            Mã hàng hoá
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name">
                                            Tên hàng hoá
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="realName">
                                            Tên thực tế
                                            <p-sortIcon field="realName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="quantity">
                                            Số lượng
                                            <p-sortIcon field="quantity"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="price">
                                            Đơn giá
                                            <p-sortIcon field="price"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="total">
                                            Số tiền
                                            <p-sortIcon field="total"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="note">
                                            Diễn giải
                                            <p-sortIcon field="note"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title">STT</span>
                                            <span class="{{record.id}}">{{truncateString(record.id)}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">Mã hàng hoá</span>
                                            <span class="{{record.merchID}}">{{truncateString(record.merchID)}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">Tên hàng hoá</span>
                                            <span class="{{record.id}}">{{truncateString(record.id)}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">Tên thực tế</span>
                                            <span class="{{record.id}}">{{truncateString(record.id)}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">Số lượng</span>
                                            <span class="{{record.quantity}}">{{truncateString(record.quantity)}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">Đơn giá</span>
                                            <span class="{{record.price}}">{{truncateString(record.price)}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">Số tiền</span>
                                            <span class="totalPrice">{{truncateString(record.quantity*record.price)}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">Diễn giải</span>
                                            <span class="{{record.id}}">{{truncateString(record.id)}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <addContractDetailModal #addContractDetailModal (modalSaves)="reloadPage()"></addContractDetailModal>
</div>
