<div bsModal #addMerchandiseToPO="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="addMerchandiseToPO" aria-hidden="true" [config]="{backdrop: 'static'}" c>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form autocomplete="off">
                    <div class="m-form m-form--label-align-right" id="TextsFilterForm">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12">
                                <form style="text-align: center">
                                    <label class="radio-inline">
                                        <input type="radio" name="RadioButton" (click)="selected = 'in'">
                                        Trong KH
                                    </label>                               
                                    <label class="radio-inline" style="margin-left: 50px">
                                        <input type="radio" name="RadioButton" (click)="selected = 'out'">
                                        Ngoài KH
                                    </label>
                                </form>
                                <div class="input-group">
                                    <div style="width: 30%;">
                                        <label for="ex4">Mã dự án</label>
                                        <div class="input-group">
                                            <input class="form-control" id="ex4" type="text" name="projectCode" [(ngModel)]="projectCode" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" (click)="selectProjectModal.show()">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </button>
                                            </span>
                                        </div>                                           
                                    </div>
                                    <div style="width: 30%; margin-left: 40px;">
                                        <label for="ex3">Tên hợp đồng</label>
                                        <div class="input-group">
                                            <input class="form-control" id="ex4" type="text" name="contract" [(ngModel)]="contract" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" (click)="selectContractModal.show()">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </button>
                                            </span>
                                        </div>                                           
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tên hàng hoá</label>
                                    <input [(ngModel)]="merchandise" name="merchandise" autofocus class="form-control" type="text">
                                </div>  
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable [value]="primengTableHelper.records" 
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" 
                            [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        Tên hợp đồng
                                    </th>
                                    <th>
                                        Tên hàng hoá
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        SL đã mua
                                    </th>
                                    <th>
                                        Số lượng còn lại
                                    </th>
                                    <th>
                                        Đơn giá
                                    </th>
                                    <th>
                                        <input type="checkbox" onclick="return false;">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">Tên dự án</span>
                                        <span title="{{record.contractID}}">{{getContractName(record.contractID)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tên hàng hoá</span>
                                        <span title="{{record.merName}}">{{truncateString(record.merName)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Số lượng</span>
                                        <span title="{{record.quantity}}">{{truncateString(record.quantity)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">SL đã mua</span>
                                        <span title="{{record.quantity}}">{{truncateString(0)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Số lượng còn lại</span>
                                        <span title="{{record.quantity}}">{{truncateString(record.quantity)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Đơn giá</span>
                                        <span title="{{record.price}}">{{truncateString(record.price)}}</span>
                                    </td>
                                    <td>
                                        <input class="form-control" type="checkbox" name="isSelectedInput" (change)="selectcdID($event,record.id)">
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" style="border: thin solid" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getMerchandises($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="applyFilters()" class="btn btn-primary" type="submit">
                    <i class="icon-refresh"></i>
                    Tìm kiếm
                </button>
                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                <button type="button" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>
    </div>
    <selectProjectModal #selectProjectModal (modalSave)="reloadProject($event)"></selectProjectModal>
    <selectContractModal #selectContractModal (modalSave)="reloadContract($event)"></selectContractModal>
</div>